* {
    font-family: 'HelveticaNeue'
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-image: url('../Blue-Dot.png');
    background-size: 16 16;
    background-repeat: no-repeat;
    background-position: 0 2;
    padding-left: 20;
}

table {
    font-size: 12px;
}

table td {
	text-align: center;
}

table .alternate {
	background-color: #CCC;
}

/* Retina */

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    li {
        background-image: url('../Blue-Dot@2x.png');
    }
}
